<header>
  <div id="headerTitle">
    <img id="logo" src="./../../assets/cloudSunny.jpeg" alt="" />
    <h1>{{ today | date: "h:mm a" }}</h1>
    <!-- <form >
            <label for="zipCode">
                <input type="number" name="zipCode" placeholder="ZipCode">
            </label>
        </form> -->
  </div>

  <div id="sunsetIMG">
    <!-- <mat-slider min="0" max="100" step="1" value='1'></mat-slider> -->
    <i id="sun" class="fas fa-sun"></i>
    <img id="moon" src="./../../assets/thatsNoMoon.png" alt="" />
  </div>

  <div id="sunsetText">
    <p>Sunrise: {{ sunrise }} AM</p>
    <p>Sunset: {{ sunset }} PM</p>
  </div>
</header>
<!--  *ngIf="isDay" *ngIf="!isDay"-->
