<app-header></app-header>
<main>
  <div id="leftContainer">
    <h1>
      {{ cityName }}, <span>{{ stateName }}</span>
    </h1>
    <h2>{{ today | date }}</h2>
    <h3>{{ dayOfWeek }}</h3>
  </div>
  <div id="rightContainer">
    <div class="circle temperatureContainer">
      <div id="temperature" class="column">
        <p class="temperature">{{ temperature }}°</p>
        <p id="feelsLike">Feels Like: {{ feelsLike }}°</p>
      </div>
    </div>
    <div class="circle weatherIconContainer">
      <div id="weatherDescription" class="column">
        <img
          src="http://openweathermap.org/img/wn/{{
            weatherConditionIcon
          }}@2x.png"
          alt="{{ weatherConditionDescription }}"
        />
        <!-- <p>{{weatherConditionDescription}}</p> -->
      </div>
    </div>
    <div class="circle threeHourForcastContainer">
      <div class="column" id="windDirectionContainer">
        <h4>Wind :</h4>
        <i id="windDirection" class="fa fa-arrow-up"></i>
        <p>{{ windSpeed }}mph</p>
      </div>
    </div>
  </div>
</main>
<section>
  <h4>{{ rainingInfo }}</h4>
  <div id="minutesContainer">
    <div
      class="minute"
      *ngFor="let minute of minutes; index as i"
      [ngClass]="minute.precipitation > 0 ? 'rain' : 'dry'"
    ></div>
  </div>
  <div id="clock">
    <p>0</p>
    <p>15</p>
    <p>30</p>
    <p>45</p>
    <p>60</p>
  </div>
</section>
<app-forecast></app-forecast>
